@tailwind base;
@tailwind components;
@tailwind utilities;

button[aria-disabled="true"] {
  background-color: #e5e5e5;
  color: #6b7280;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}